{% extends 'navbar.html' %}
{% load static %}

{% block body %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style2.css' %}"/>
</head>
<body>
<div class="container-fluid">

    <div class="row min-vh-100">
        <div class="row min-vh-100">
        <div class="col-12">
            <!-- Main Content -->
            <main class="row">
                <div class="col-12 bg-white py-3 my-3" >
                    <div class="row">
                        <!-- Product Images -->
                        <div class="col-lg-4 col-md-12 mb-3">
                            <div class="col-12 mb-3">
                                <div class="img-large border" style="background-image: url('{{ product.main_image.image.url }}'); "></div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    {% for img in product.images %}
                                    <div class="col-sm-2 col-3">
                                        <div class="img-small border" style="background-image: url('{{ img.image.url }}')" data-src="{{ img.image.url }}"></div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- Product Images -->
                        <!-- Product Info -->
                        <div class="col-lg-5 col-md-9">
                            <div class="col-12 product-name large">
                                <h2>{{ product.name }}</h2>
                            </div>
                            <div class="col-12 px-0">
                                <hr>
                            </div>
                            <div class="col-12">
                                <ul>
                                    <li>{{ product.desc }}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Product Info -->

                        <!-- Sidebar -->
                        <div class="col-lg-2 col-md-3 text-center">
                            <div class="col-12 sidebar h-100">
                                <div class="row">
                                    <div class="col-12">
                                    <span class="detail-price">
                                        {{ product.price }}
                                    </span>
                                    </div>
                                    <div class="col-xl-5 col-md-9 col-sm-3 col-5 mx-auto mt-3">
                                        <div class="mb-3">
                                            <label for="qty">Quantity</label>
                                            <input type="number" id="qty" min="1" max="{{ product.remaining_count }}" value="1" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <button class="btn btn-outline-dark" type="button"><i class="fas fa-cart-plus me-2"></i>Add to cart</button>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <button class="btn btn-outline-secondary btn-sm" type="button"><i class="fas fa-heart me-2"></i>Add to wishlist</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar -->

                    </div>
                </div>

                <!-- Similar Product -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 py-3">
                            <hr>
                            <div class="row">
                                <div class="col-12 text-center text-uppercase">
                                    <h2>Similar Products</h2>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                            {% for similar in similars %}
                                <div class="product" style="width:22%;">
                                    <a href="{{ similar.get_absolute_url }}" class="product-thum">
                                        <div class="product-overlay">
                                          <img src="{{similar.main_image.image.url}}" alt="">
                                        </div>
                                    </a>
                                    <div class="product-info">
                                      <span>{{similar.category}}</span>
                                      <a href="{{ similar.get_absolute_url }}">
                                        {{similar.name}}
                                      </a>
                                      <h4>${{similar.price}}</h4>
                                    </div>

                                  </div>
                            {% endfor %}     

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Similar Products -->

            </main>
            <!-- Main Content -->
        </div>

    </div>

</div>

</body>
</html>

{% endblock %}